.sectionContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: calc(100dvh - 190px);
    background-color: var(--blue-color);
}

@media (min-width: 992px) {
    .sectionContainer {
        min-height: calc(100dvh - 226px);
    }
}
