.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--white-color);
    box-shadow: 0 4px 10px var(--shadow-color);
    padding: 5px;
}

.navbar img {
    margin-top: 5px;
    width: 200px;
}

@media (min-width: 992px) {
    .navbar img {
        width: 250px;
    }
}
