:root {
    --white-color: #f3efea;
    --white-color-2: rgba(243, 239, 234, 0.4);
    --blue-color: #019bdb;
    --blue-color-2: rgba(1, 154, 219, 0.8);
    --primary-color: #0165a9;
    --secondary-color: #019bdb;
    --background-color: #227ba1;
    --text-color: #363636;
    --text-color-2: #403f3f;
    --shadow-color: #0000004d;
    --green-color: #a4cf51;
}
