:root {
    --white-color: #f3efea;
    --black-color: #000000;
    --blue-color: #0165a9;
    --skyblue-color: #019bdb;
    --green-color: #a4cf51;
    --text-color: #363636;
    --shadow-color: #0000004d;
}
