.sectionContainer {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background: linear-gradient(to right, var(--blue-color) 0%, var(--skyblue-color) 100%);
    min-height: calc(100svh - 66px);
}

.contenido {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding: 20px;
    width: 375px;
    gap: 20px;
}

.contenido h1 {
    color: var(--white-color);
    font-size: 28px;
}

.contenido p {
    font-size: 16px;
    color: var(--white-color);
}

.contenido p:nth-child(1) {
    background-color: var(--green-color);
    color: var(--black-color);
    box-shadow: -6px 4px 10px rgba(0, 0, 0, 0.2);
    font-weight: bold;
    border-radius: 20px;
    padding: 5px 10px;
}

@media (min-width: 576px) {
    .sectionContainer {
        justify-content: center;
        background: linear-gradient(to right, var(--blue-color) 0%, transparent 100%);
        min-height: 0;
        max-height: calc(100svh - 66px);
    }

    .imgFondo {
        display: block;
        position: relative;
        z-index: -1;
        -webkit-mask-image: linear-gradient(to right, transparent 0%, black 15%, black 85%, transparent 100%);
        mask-image: linear-gradient(to right, transparent 0%, black 15%, black 85%, transparent 100%);
    }

    .contenido {
        position: absolute;
        inset: 0;
        margin: auto;
        padding: 0;
        width: 550px;
    }

    .contenido h1 {
        font-size: 34px;
    }
}

@media (min-width: 992px) {
    .sectionContainer {
        max-height: calc(100svh - 76px);
    }
}

@media (min-width: 1200px) {
    .contenido {
        width: 1100px;
    }

    .contenido h1 {
        font-size: 38px;
        width: 600px;
    }

    .contenido p:nth-child(3) {
        width: 500px;
    }
}

@media (min-width: 1400px) {
    .contenido {
        width: 1270px;
    }

    .contenido h1 {
        font-size: 44px;
        width: 700px;
    }
}
